<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            ATN Shop
        </title>
        <link rel="stylesheet" type = "text/css" href = "/stylesheet/Style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <style> </style>
    <body>
        <div class="header">
            <div class="container">
                <div class="navbar">
                    <div class="logo">
                        <a href="/"><img src="Pictures/logo.png" width="245px"></a>
                    </div>
                    <nav>
                        <ul id="MenuItems">
                            <ul id="MenuItems">
                                <li><a href="/">Home</a></li>
                                <li><a href="/products">Products</a></li>
                                <li><a href="/productManager">Product Manager</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="/account">Account</a></li>
                            </ul>
                        </ul>
                    </nav>
                </div>
            <div class="row">
                    <div class="col-2">
                        <h1>Get Your Exclusive Toy Right NOW!</h1>
                        <p>AND MUCH MORE!</p>
                        <a href="/products" class="btn">Explore Now &#8594;</a>
                    </div>  
                    <div class="col-2">
                        <img src="Pictures/Bannerfixed.jpg">
                    </div>
                    </div>  
             </div>
        </div>
        <!----featured category---->
        <div class="categories">
            <div class="small-container">
                <div class="row">
                    <div class="col-3">
                        <a href="/products"><img src="Pictures/Shuten.jpg"></a>
                    </div>
                    <div class="col-3">
                        <a href="/products"><img src="Pictures/SpidermanClassic.jpg"></a>
                    </div>
                    <div class="col-3">
                        <a href="/products"><img src="Pictures/Astoflo.jpg"></a>
                    </div>
                </div>
            </div>
        </div>
        <!----featured products---->
        <div class="small-container">
            <h2 class="title">Featured Products</h2>
            <div class="row">
                <div class="col-4">
                    <a href="/products"><img src="Pictures/Spiderman1.jpg"></a>
                    <a href="/products"><h4>HOT TOYS<br>SPIDER-MAN<br>(INTERGRATED SUIT)<br>DELUXE VERSION</h4></a>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                    </div>
                    <p>$350.00</p>
                </div>
                <div class="small-container">
                    <h2 class="title">Featured Products</h2>
                    <div class="row">
                        <div class="col-4">
                            <a href="/products"><img src="Pictures/Spiderman1.jpg"></a>
                            <a href="/products"><h4>HOT TOYS<br>SPIDER-MAN<br>(INTERGRATED SUIT)<br>DELUXE VERSION</h4></a>
                            <div class="rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            </div>
                            <p>$350.00</p>
                        </div>
                        <div class="col-4">
                            <a href="/products"><img src="Pictures/Ironman2.jpg"></a>
                            <a href="/products"><h4>HOT TOYS<br>AVANGERS: ENDGAME<br>IRON MAN MARK LXXXV</h4></a>
                            <div class="rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <p>$485.00</p>
                        </div>
                        <div class="col-4">
                            <a href="/products"><img src="Pictures/Mandolorian.jpg"></a>
                            <a href="/products"><h4>HOT TOYS<br>STAR WARS: MANDALORIAN<br>MANDALORIAN & BABY YODA<br>(DELUXE VERSION)</h4></a>
                            <div class="rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            </div>
                            <p>$450.00</p>
                        </div>
                        <div class="col-4">
                            <a href="/products"><img src="Pictures/Johnwick.jpg"></a>
                            <a href="/products"><h4>HOT TOYS<br>JOHN WICK 2<br>JOHN WICK</h4></a>
                            <div class="rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <p>$300.00</p>
                        </div>
                    </div>
                    <h2 class="title">Latest Products</h2>
                    <div class="row">
                        <div class="col-4">
                            <a href="/products"><img src="Pictures/spiderman2.jpg"></a>
                            <a href="/products"><h4>HOT TOYS<br>SPIDER-MAN<br>SPIDER-MAN 2099 BLACK SUIT<br></h4></a>
                            <div class="rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            </div>
                            <p>$390.00</p>
                        </div>
                        <div class="col-4">
                            <a href="/products"><img src="Pictures/Ironman.jpg"></a>
                            <a href="/products"><h4>HOT TOYS<br>AVANGERS: ENDGAME<br>IRON MAN MARK LXXXV<br>BATTLED DAMAGED VERSION</h4></a>
                            <div class="rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <p>$490.00</p>
                        </div>
                        <div class="col-4">
                            <a href="/products"><img src="Pictures/Gojo.jpg"></a>
                            <a href="/products"><h4>POP UP PARADE FIGURE<br>JUJUTSU KAISEN<br>SATORU GOJO</h4></a>
                            <div class="rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            </div>
                            <p>$35.55</p>
                        </div>
                        <div class="col-4">
                            <a href="/products"><img src="Pictures/SaintMartha.jpg"></a>
                            <a href="/products"><h4>Assemble Heroines Half-complete Assembly Figure<br>FATE/GRAND ORDER<br>RULER/SAINT MARTHA [SUMMER QUEENS]</h4></a>
                            <div class="rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <p>$67.50</p>
                        </div>
                        <div class="col-4">
                            <a href="/products"><img src="Pictures/Rengoku.jpg"></a>
                            <a href="/products"><h4>POP UP PARADE FIGURE<br>DEMON SLAYER: KIMETSU NO YAIBA<br>KYOJURO RENGOKU</h4></a>
                            <div class="rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <p>$35.55</p>
                        </div>
                        <div class="col-4">
                            <a href="/products"><img src="Pictures/Watson.jpg"></a>
                            <a href="/products"><h4>NENDOROID<br>APEX LEGENDS<br>WATTSON</h4></a>
                            <div class="rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <p>$58.50</p>
                        </div>
                        <div class="col-4">
                            <a href="/products"><img src="Pictures/Spiderman3.jpg"></a>
                            <a href="/products"><h4>MARVEL: SPIDER-MAN<br>SPIDER-MAN<br>(SPIDER ARMOR - MK IV SUIT)</h4></a>
                            <div class="rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <p>$400.00</p>
                        </div>
                        <div class="col-4">
                            <a href="/products"><img src="Pictures/Bojji_Kage.jpg"></a>
                            <a href="/products"><h4>NENDOROID<br>RANKING OF KINGS<br>BOJJI & KAGE</h4></a>
                            <div class="rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <p>$56.70</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                <!---Offer--->
                <div class="offer">
                    <div class="small-container">
                        <div class="row">
                            <div class="col-2">
                                <img src="Pictures/Spiderman4offer.jpg" class="offer-img">
                            </div>
                            <div class="col-2">
                                <p>Exclusively Avaliable on ATN store</p>
                                <h1>MARVEL: SPIDER-MAN<br>SPIDER-MAN ADVANCED SUIT</h1>
                                <a href="/products" class="btn">Get Your Now! &#8594</a>
                            </div>
                        </div>
                    </div>
                </div>
               <!-----Brands----->
                <div class="brand">
                    <div class="small-container">
                        <div class="row">
                            <div class="col-5">
                                <img src="Pictures/HotToyslogo.png">
                            </div>
                            <div class="col-5">
                                <img src="Pictures/logo_nendoroid.png">
                            </div>
                            <div class="col-5">
                                <img src="Pictures/Popupparade.png">
                            </div>
                            <div class="col-5">
                                <img src="Pictures/Figmalogo.png">
                            </div>
                        </div>
                    </div>
                </div>
                <!----footer---->
                <div class="footer">
                    <div class="container">
                        <div class="row">
                            <div class="footer-col-1">
                                <h3>Download Our App</h3>
                                <p>Download App For Android and ios.</p>
                                <div class="app-logo">
                                    <img src="Pictures/app-store.png">
                                    <img src="Pictures/play-store.png">
                                </div>
                            </div>
                            <div class="footer-col-2">
                                <img src="Pictures/logo.png">
                            </div>
                            <div class="footer-col-3">
                                <h3>Link</h3>
                                <ul>
                                    <li>Coupons</li>
                                    <li>Return Policy</li>
                                    <li>Join Affiliate</li>
                                </ul>
                            </div>
                            <div class="footer-col-4">
                                <h3>Follow us on:</h3>
                                <ul>
                                    <li>FaceBook</li>
                                    <li>Twitter</li>
                                    <li>Instagram</li>
                                    <li>YouTube</li>
                                </ul>
                            </div>
                        </div>
                        <hr>
                        <p class="copyright">Copyright 2022 - ATN store</p>
                    </div>
                </div>
    </body>
</html>