<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            All Products - ATN Shop
        </title>
        <link rel="stylesheet" type = "text/css" href = "/stylesheet/Style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
            <div class="container">
                <div class="navbar">
                    <div class="logo">
                        <a href="/"><img src="Pictures/logo.png" width="245px"></a>
                    </div>
                    <nav>
                        <ul id="MenuItems">
                            <ul id="MenuItems">
                                <li><a href="/">Home</a></li>
                                <li><a href="/products">Products</a></li>
                                <li><a href="/productManager">Product Manager</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="/account">Account</a></li>
                            </ul>
                        </ul>
                    </nav>
                    <img src="Pictures/menu.png" class="menu-icon" onclick="menutoggle()">
                </div>
            </div>
        <div class="small-container">
            <div class="row row-2">
                <h2>All Products</h2>
                <select>
                    <option>Default Shorting</option>
                    <option>Short by price</option>
                    <option>Short by popularity</option>
                    <option>Short by rating</option>
                    <option>Short by sale</option>
                </select>
            </div>
            <div class="row">
                <div class="col-4">
                    <a><img src="Pictures/Spiderman1.jpg"></a>
                    <a><h4>HOT TOYS<br>SPIDER-MAN<br>(INTERGRATED SUIT)<br>DELUXE VERSION</h4></a>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                    </div>
                    <p><span>350.00</span><sup>$</sup></p><button href="" class="btn">Add To Cart</button>
                </div>
                <div class="col-4">
                    <a><img src="Pictures/Ironman2.jpg"></a>
                    <a><h4>HOT TOYS<br>AVANGERS: ENDGAME<br>IRON MAN MARK LXXXV</h4></a>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <p><span>485.00</span><sup>$</sup></p><button href="" class="btn">Add To Cart</button>
                </div>
                <div class="col-4">
                    <a><img src="Pictures/spiderman2.jpg"></a>
                    <a><h4>HOT TOYS<br>SPIDER-MAN<br>SPIDER-MAN 2099 BLACK SUIT<br></h4></a>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                    </div>
                    <p><span>390.00</span><sup>$</sup></p><button href="" class="btn">Add To Cart</button>
            </div>
            <div class="row">
                <div class="col-4">
                    <a><img src="Pictures/SpidermanClassic.jpg"></a>
                    <a><h4>HOT TOYS<br>MARVEL: SPIDER-MAN<br>SPIDER-MAN<br>CLASSIC SUIT</h4></a>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <p><span>330.70</span><sup>$</sup></p><button href="" class="btn">Add To Cart</button>
                </div>
                <div class="col-4">
                    <a><img src="Pictures/Shuten.jpg"></a>
                    <a><h4>FATE/GRAND ORDER<br>ASSASIN/SHUTEN DOUJI<br>FESTIVAL PORTRAIT FIGURE</h4></a>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <p><span>198.00</span><sup>$</sup></p><button href="" class="btn">Add To Cart</button>
                </div>
                <div class="col-4">
                    <a><img src="Pictures/Astoflo.jpg"></a>
                    <a><h4>FIGMA<br>FATE/APOCRYPHA<br>RIDER OF BLACK<br>CASUAL VER</h4></a>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <p><span>89.50</span><sup>$</sup></p><button href="" class="btn">Add To Cart</button>
                </div>
                
            </div>
        </div>
    </div>
        <!----------CART ITEMS DETAILS---------->
<div id="showcart" class="small-container cart-page">
    <table>
        <thead>
            <tr>
                <th>Product name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <tbody>
    <div style="text-align: right;" class="total-price">
        <p style="font-weight: bold;">Total: <span>0</span><sup>$</sup></p>
    </div>
</tbody>
</div>
        <!----footer---->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-col-1">
                        <h3>Download Our App</h3>
                        <p>Download App For Android and ios.</p>
                        <div class="app-logo">
                            <img src="Pictures/app-store.png">
                            <img src="Pictures/play-store.png">
                        </div>
                    </div>
                    <div class="footer-col-2">
                        <img src="Pictures/logo.png">
                    </div>
                    <div class="footer-col-3">
                        <h3>Link</h3>
                        <ul>
                            <li>Coupons</li>
                            <li>Return Policy</li>
                            <li>Join Affiliate</li>
                        </ul>
                    </div>
                    <div class="footer-col-4">
                        <h3>Follow us on:</h3>
                        <ul>
                            <li>FaceBook</li>
                            <li>Twitter</li>
                            <li>Instagram</li>
                            <li>YouTube</li>
                        </ul>
                    </div>
                </div>
                <hr>
                <p class="copyright">Copyright 2022 - ATN store</p>
            </div>
        </div>
        <!---------js for toggle menu--------->
        <script>
            var MenuItems = document.getElementById("MenuItems")
            MenuItems.style.maxHeight = "0px";
            function menutoggle(){
                if(MenuItems.style.maxHeight == "0px"){
                    MenuItems.style.maxHeight = "200px";
                }
                else{
                    MenuItems.style.maxHeight = "0px";
                }
            }
        </script>
        <script src="/javascript/Script.js"></script>
    </body>
</html>